<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net45" />
  <package id="FluentAssertions" version="3.0.107" targetFramework="net45" />
  <package id="Rhino.Commons" version="1.0.4791.25785" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
</packages>